.cloth-collection {
  font-family: Arial, sans-serif;
  border: 2px solid #130404;
  padding: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; Center vertically */
  align-items: center; /* Center horizontally */
  /* min-height: 100vh;  */
  /* Ensure the container takes at least the full viewport height */
}

.cloth-collection.loading {
  text-align: center;
}

.cloth-collection.error {
  color: red;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}
.cloth-collection.loading {
  font-size: 30px;
  width: 300px;
  height: 300px !important;
  border-radius: 50%;
  border: 4px solid #1c0202; /* Light gray border */
  border-top: 4px solid #f8f8f8; /* Blue border for the loading indicator */
  animation: spin 1s linear infinite; /* Apply rotation animation */
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
